Dataset/data_augmentation/.ipynb_checkpoints
Dataset/data_augmentation/data_augmentation_results/
Dataset/data_augmentation/problem_6.png
Dataset/data_augmentation/objects/.ipynb_checkpoints/
Dataset/.idea/
Dataset/data_augmentation/__pycache__/
Dataset/report_on_dataset/main.aux
Dataset/report_on_dataset/main.lof
Dataset/report_on_dataset/main.log
Dataset/report_on_dataset/main.lot
Dataset/report_on_dataset/main.out
Dataset/report_on_dataset/main.synctex.gz
Dataset/report_on_dataset/main.toc
Dataset/report_on_dataset/main.bbl
Dataset/report_on_dataset/main.blg
Report/GurulinganNK-RnD-Report.aux
Report/GurulinganNK-RnD-Report.lof
Report/GurulinganNK-RnD-Report.log
Report/GurulinganNK-RnD-Report.lot
Report/GurulinganNK-RnD-Report.synctex.gz
Report/GurulinganNK-RnD-Report.toc
Dataset/data_augmentation/data_analyzer/__pycache__/*
Report/chapters/*.log
Dataset/data_augmentation/.idea/
Dataset/data_augmentation/data_analyzer/.idea/
Presentation/presentation.aux
Presentation/presentation.log
Presentation/presentation.out
Presentation/presentation.synctex.gz
Presentation/presentation.toc
Presentation/presentation.run.xml

